body {
  background-color: #181123;
  margin: 0;
  color: rgb(59, 59, 59);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Karla", sans-serif;
}

.container {
  background: transparent;
  border-radius: 1rem;
  border: 0;
  /*box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px 0 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #181123;
}

.header-content {
  background-color: red;
  background-image: linear-gradient(45deg, hsl(50, 69%, 53%), #df7e42);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Karla", sans-serif;
  font-weight: normal;
  font-size: 3em;
  text-align: center;
  margin-bottom: 0;
  margin-bottom: -0.25em;
}

p,
h2,
h3,
h4,
h5,
label,
input {
  font-family: "Karla", sans-serif;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  text-align: center;
  background-color: red;
  /* Create the gradient. */
  background-image: linear-gradient(45deg, hsl(50, 69%, 53%), #df7e42);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/* Form styling */

#characterAmountRange {
  background-image: linear-gradient(45deg, hsl(50, 69%, 53%), #df7e42);
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

#characterAmountRange::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#characterAmountRange::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}


label {
  font-weight: bold;
  color: white;
}

.character-amount-container {
  display: flex;
  align-items: center;
}

.number-input {
  width: 2rem;
}

.password-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
  width: 100%;
  align-items: center;
  word-break: break-all;
  border-radius: 0.5rem;
  margin: 2rem 0;
}

.password-display {
  background-color: white;
  color: rgb(152, 152, 152);
  border: 0;
  height: auto;
  width: 375px;
  display: flex;
  justify-content: center;
  word-break: break-all;
  margin-top: 0;
}

.password-display:hover {
  background-color: red;
  background-image: linear-gradient(45deg, hsl(50, 69%, 53%), #df7e42);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.copy-btn {
  align-self: flex-end;
  min-width: 60px;
  padding: 5px;
  border: 0;
  background-color: transparent;
  color: rgb(152, 152, 152);
  font-family: "Karla";
  cursor: pointer;
}

.copy-btn:hover {
  border: 1px solid linear-gradient(45deg, hsl(50, 69%, 53%), #df7e42);
  color: #333;
  font-weight: 800;
}

.btn {
  grid-column: span 2;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  border: 0;
  margin: 0;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
  width: 100%;
  background-image: linear-gradient(45deg, hsl(50, 69%, 53%), #df7e42);
  margin: 2rem 0;
}

h3.btn {
  color: rgb(59, 59, 59);
}

.btn:hover {
  background-color: #ffffff33;
}

